<div class="content">
  <!-- <div ng-controller="NinjaController"> -->
    <button type="button" ng-click="order='name'">Order by name</button>
    <button type="button" ng-click="order='belt'">Order by belt</button>
    <input type="text" ng-model="search" />

    <ul id="ninja-list">
      <!-- ordenamiento en angular se hacen con la barra vertical seguido por orderBy en caso de quererlo descendente uso -name -->
      <li ng-repeat="ninja in ninjas | orderBy: order |filter: search"
      ng-show="ninja.available">
      <!-- si quisiera mostrar los falson en el show puedo hacerlo con !ninja.available
      o puedo usar la directiva ng-hide -->
      <img ng-src="{{ninja.thumb}}" style="margin: -12px 10px 0 0; float: left; width: 50px;">
        <h3>{{ninja.name}},            
            rate: {{ninja.rate | currency: '€'}}</h3>
            <div class="remove" ng-click="removeNinja(ninja)">X</div>
        <span class="belt" style="background: {{ninja.belt}} ">belt: {{ninja.belt}}</span> 
      </li>
    </ul>
    <form ng-submit="addNinja()">
      <input type="text" placeholder="name" ng-model="newninja.name">
      <input type="text"placeholder="belt" ng-model="newninja.belt">
      <input type="text"placeholder="rate" ng-model="newninja.rate">
      <input type="submit" value="Add new ninja">
    </form>
    
    <a href="" ng-click="removeAll()">Remove all ninjas</a>
  <!-- </div> -->
</div> <!-- div.content -->